

.movie-container{
    position: relative;
    width: 100%;
    cursor: pointer;
}

.movie-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-like-btn-container{
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

.like-btn{
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 17px;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.like-btn:hover{
    background-color: rgba(255, 255, 255, 0.81);
}

.like-btn:active{
    background-color: rgba(255, 255, 255, 0.61);
}

.like-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-title{
    font-family: Arial, serif;
    font-size: 15px;
    color: #e5e5e5;
    /*text-align: center;*/
    margin-top: 10px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
}

.tooltip {
    width: 0px;
    font-size: 12px;
    font-weight: 400;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px #000000;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-25%);
    height: 0px;
    transition: all 0.3s ease;
    opacity: 0;
}

.tooltip.open {
    width: 280px;
    transform: translateY(-50%) translateX(-25%);
    height: 100%;
    opacity: 1;
}

.tooltip-backdrop-img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tooltip-title-txt{
    line-height: 22px;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    color: #e5e5e5;
}

.heading{
    line-height: 22px;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #e5e5e5;
}

p{
    line-height: 5px;
}

.movie-year{
    font-family: Arial, serif;
    font-size: 17px;
    /*text-align: center;*/
    opacity: 0.7;
    margin-top: 0;
    color: #e5e5e5;
}

.watch-btn{
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 17px;
    font-family: Arial, serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.watch-btn:hover{
    background-color: rgba(255, 255, 255, 0.81);
}

.watch-btn:active{
    background-color: rgba(255, 255, 255, 0.61);
}


.visible{
    display: block;
}

.back-btn{
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-family: Arial, serif;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.hidden{
    display: none;
    height: 0;
    margin-top: 0;
}